fastapi==0.116.1
uvicorn[standard]==0.35.0
fastembed==0.7.1
pymilvus[milvus-lite]==2.6.0
python-multipart==0.0.20
httpx==0.28.1
pypdf==5.9.0
python-docx==1.2.0
langchain==0.3.27
langchain-openai==0.3.28
langchain-text-splitters==0.3.9
